src/AnimalHotel/AnimalHotel/.vs/AnimalHotel/FileContentIndex/0a6a2e86-3977-4fc8-8615-d0e7242c94ab.vsidx
src/AnimalHotel/AnimalHotel/.vs/AnimalHotel/FileContentIndex/68c5ebc5-6f7e-4e28-b7ec-6f5ebb0e4771.vsidx
src/AnimalHotel/AnimalHotel/.vs/AnimalHotel/FileContentIndex/7538e936-b38b-4dc5-a71e-2dd9b9297671.vsidx
src/AnimalHotel/AnimalHotel/.vs/AnimalHotel/FileContentIndex/d1035992-17b8-4004-be68-5bcc2643e47e.vsidx
src/AnimalHotel/AnimalHotel/.vs/AnimalHotel/FileContentIndex/f9a3887c-80b1-44d8-8fec-9db882b258ab.vsidx
